.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.image{
	width:60%;	
}
.content{
	text-align:center;
	padding:10px;
	width:40%;
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:10px;
	border:none;
}










